{% extends 'base.html' %}

{% block title %}
    Blog
{% endblock %}


{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Blog</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row">

            {% for blog in blogs %}
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('{{blog.image}}');">
								<div class="meta-date text-center p-2">
                  <span class="day">{{blog.upload_at | date:"d"}}</span>
                  <span class="mos">{{blog.upload_at | date:"M"}}</span>
                  <span class="yr">{{blog.upload_at | date:"Y"}}</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">{{blog.title}}</a></h3>

                     <p>{{blog.content | slice:":255"}}...</p>

                <div class="d-flex align-items-center mt-4">
	                <p class="ml-auto mb-0"><a href="single_blog?id={{blog.id}}" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
<!--	                <p class="ml-auto mb-0">-->
<!--	                	<a href="#" class="mr-2">Admin</a>-->
<!--	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>-->
<!--	                </p>-->
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">

                <div class="pagination">
                    <span class="step-links">
                        {% if blogs.has_previous %}
                            <a href="?page=1" class="btn btn-primary">&laquo; first</a>
                            <a href="?page={{ blogs.previous_page_number }}" class="btn btn-primary">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
                        </span>

                        {% if blogs.has_next %}
                            <a href="?page={{ blogs.next_page_number }}" class="btn btn-primary">next</a>
                            <a href="?page={{ blogs.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>

<!--              <ul>-->
<!--                <li><a href="#">&lt;</a></li>-->
<!--                <li class="active"><span>1</span></li>-->
<!--                <li><a href="#">2</a></li>-->
<!--                <li><a href="#">3</a></li>-->
<!--                <li><a href="#">4</a></li>-->
<!--                <li><a href="#">5</a></li>-->
<!--                <li><a href="#">&gt;</a></li>-->
<!--              </ul>-->
            </div>
          </div>
        </div>
			</div>
		</section>

{% endblock %}